.z#e6e6e6{color:#e6e6e6;}
.z#999{color:#999;}


// -------------------------------------------------------------------
.yellow{color:#FF7F00;}
nav{
    width:100%;
    .cont{
        background: #fff;
        height:30px;
        line-height:30px;
        font-size:12px;
        .fla{color:blue;&:hover{color:red;}}
    }
}
.marg{margin-bottom:20px;}

.xiangQing{
    width:100%;
    .cont{
        height:621px;

        .xQ_l{height:621px;float:left;width:482px;
            .xQ_l_t{
                    font-size:14px;
                .xQ_B{border:1px solid #e6e6e6;margin-bottom:15px;}

                .xQ_b{
                    img{border:2px solid #e6e6e6;}
                }

            }
        }
        .xQ_c{height:621px;float:left;width:490px;margin-left:20px;
            
        .xianShi{width:270px;height:110px;
            .xianShi_t{height:20px;width:100px;background:url('../img/xiaoXiao.fw.png')no-repeat -1617px -943px;
            margin-top:4px;

        }
           
        }
        .xianShi_b{width:488px;height:265px;background:#F8F8F8;
                button{width:123px;height:37px;border:2px solid #E60012;}

                .xianshi_b_1{height:65px;margin-left:20px;
                    .img_1{border:1px solid #e6e6e6;}
                     .img_2{border:1px solid #e6e6e6;}
                    }
                }
                .xianshi_b_2{height:65px;margin-left:20px;
                    span{
                        background: #fff;padding:2px 8px ;
                        border:1px solid #e6e6e6;
                        width:34px;height:18px;
                    
                    }
                }
                .xianshi_b_3{height:65px;margin-left:20px;
                    input{width:50px;height:25px;
                    
                    }
                    .eWM{
                        .fuji{position:relative;&:hover .twoWM{display:block;}

                        .twoWM{width:100px;height:100px;position:absolute;top:-90px;left:260px;background:url('../img/erWeiM2.png')no-repeat;}
                        }
                    }
                } 
                .gW{background:#fff; color:#E60012;font-weight:bold;font-size:16px;margin-left:20px;}
                .gWC{background:#E60012; color:#fff;font-weight:bold;font-size:16px;}
        }
        }
        .xQ_r{height:621px;float:left;width:174px;margin-left:20px;
                .longTeng{
                    width:174px;height:500px;overflow:hidden;
                    position:relative;
                    .longTeng_I{
                        width:174px;height:1000px;
                        position:absolute;
                    }
                }
                .shang{margin-left:17px;width:70px;height:38px;}
                .xia{margin-right:17px;width:70px;height:38px;}
        }
}
// --------------------------------------------------------
.xQ_lunbotu{
    width:100%;
    .cont{

    height:320px;
    span{width:580px;}
    .fr_ll{text-align:right;}
    .fc_box{
        .flaa{width:39px;height:250px;background:url('../img/zuodianji.png')no-repeat;border:1px solid #e6e6e6;}
        .fc{width:1108px;height:250px;position:relative;overflow:hidden;
            .long{width:2216px;height:250px;position:absolute; 

    // 龙 轮播图 里面的 内容
            ul{width:170px;height:240px;float:left; margin-right:20px;
                li{
             
                }
            }

            }
        }
        .fraa{width:39px;height:250px;background:url('../img/youdianji.png')no-repeat;border:1px solid #e6e6e6;}
    }
    }
}

.xQ_photo{
    width:100%;
    .cont{
        .longTeng1{width:979px;height:3000px;}
        .longTeng2{width:210px;height:2000px;//-----------------------------------
            .div_a{display:block;width:200px;height:200px;}
        }
    }
}

#time{width:200px;padding-left:72px;line-height:14px;}