html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  display: block; }

i {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

.z12 {
  font-size: 12px; }

.z14 {
  font-size: 14px; }

.z16 {
  font-size: 16px; }

.z36 {
  font-size: 0.5625rem; }

.z40 {
  font-size: 0.625rem; }

.z50 {
  font-size: 0.78125rem; }

.z22 {
  font-size: 0.34375rem; }

.z24 {
  font-size: 24px; }

.z30 {
  font-size: 30px; }

.red {
  color: #a21f25; }

.blue {
  color: blue; }

.sky {
  color: skyblue; }

.fl {
  float: left; }

.fr {
  float: right; }

.over {
  overflow: hidden; }

.red {
  color: red; }

.nones {
  font-size: none; }

.textw {
  font-weight: bold; }

.bc58 {
  color: #58bc58; }

.padd-t50 {
  padding-top: 50px; }

.over {
  overflow: hidden; }

.xiaHua {
  text-decoration: underline; }

.p-top {
  padding-top: 20px; }

.p-right {
  padding-right: 20px; }

.p-bottom {
  padding-bottom: 20px; }

.p-left {
  padding-left: 20px; }

.black {
  color: black; }

a:hover {
  color: red; }

a {
  color: black; }

.cont {
  width: 1190px;
  margin: 0 auto; }

header {
  width: 100%;
  background: #f6f6f6; }
  header .cont {
    height: 33px;
    font-size: 14px; }
    header .cont .box_l {
      width: 400px;
      height: 33px;
      float: left; }
      header .cont .box_l a {
        text-align: center;
        line-height: 32px; }
      header .cont .box_l .box_l_1 {
        float: left;
        width: 98px;
        height: 33px;
        background: #fff; }
      header .cont .box_l :hover {
        background: #fff; }
      header .cont .box_l .box_l_2 {
        float: left;
        width: 100px;
        height: 33px;
        position: relative; }
        header .cont .box_l .box_l_2 .big_box {
          position: absolute;
          width: 250px;
          height: 100px;
          background: #fff;
          display: none; }
        header .cont .box_l .box_l_2:hover .big_box {
          display: block; }
    header .cont .box_r {
      float: right; }
      header .cont .box_r .DL_box {
        float: left;
        padding: 0 14px;
        height: 33px; }
        header .cont .box_r .DL_box a {
          float: left;
          line-height: 33px;
          padding: 0 15px;
          color: red; }
      header .cont .box_r .flaaa {
        line-height: 31px; }
      header .cont .box_r .GWC_box {
        float: left;
        padding: 0 14px;
        height: 33px; }
        header .cont .box_r .GWC_box .a_aaa {
          float: left;
          padding: 0 10px;
          line-height: 33px; }
        header .cont .box_r .GWC_box .box_a1 {
          position: relative; }
          header .cont .box_r .GWC_box .box_a1 .box_aa1 {
            width: 92px;
            height: 40px;
            background: #fff;
            display: none;
            position: absolute;
            right: 0; }
          header .cont .box_r .GWC_box .box_a1:hover .box_aa1 {
            display: block;
            color: black; }
        header .cont .box_r .GWC_box :hover {
          background: #fff; }
        header .cont .box_r .GWC_box .box_a3 {
          position: relative; }
          header .cont .box_r .GWC_box .box_a3 .box_aa3 {
            width: 200px;
            height: 50px;
            background: #fff;
            display: none;
            position: absolute;
            right: 0; }
          header .cont .box_r .GWC_box .box_a3:hover .box_aa3 {
            display: block;
            color: black;
            line-height: 25px; }
        header .cont .box_r .GWC_box :hover {
          background: #fff; }
        header .cont .box_r .GWC_box .box_a4 {
          position: relative; }
          header .cont .box_r .GWC_box .box_a4 .box_aa4 {
            width: 100px;
            height: 60px;
            background: #fff;
            display: none;
            position: absolute;
            right: 0; }
          header .cont .box_r .GWC_box .box_a4:hover .box_aa4 {
            display: block;
            color: black; }
        header .cont .box_r .GWC_box :hover {
          background: #fff; }

.souSuoLan {
  width: 100%;
  background: #F8F8F8; }
  .souSuoLan .cont {
    height: 130px; }
    .souSuoLan .cont .souSuoLan_t {
      width: 266px;
      height: 124px;
      background: url("../img/xiaoXiao.fw.png") no-repeat 0px 0px;
      text-index: 1000000;
      float: left; }
    .souSuoLan .cont .souSuoLan_c {
      width: 761px;
      height: 130px;
      float: left; }
      .souSuoLan .cont .souSuoLan_c .souSuoLan_input {
        width: 441px;
        height: 34px;
        float: left;
        margin-top: 40px;
        border: 2px solid black;
        font-size: 20px; }
      .souSuoLan .cont .souSuoLan_c .souSuoLan_btn {
        width: 82px;
        height: 38px;
        border: 0;
        margin-top: 40px;
        border: 2px solid black;
        color: #fff;
        background: black;
        font-size: 25px; }
      .souSuoLan .cont .souSuoLan_c span a {
        float: left;
        padding-top: 10px;
        font-size: 14px; }
    .souSuoLan .cont .souSuoLan_r {
      width: 157px;
      height: 125px;
      float: right; }
      .souSuoLan .cont .souSuoLan_r .souSuoLan_r_c {
        width: 125px;
        height: 30px;
        border: 1px solid #999;
        margin-top: 30px;
        line-height: 30px;
        padding-left: 20px; }
        .souSuoLan .cont .souSuoLan_r .souSuoLan_r_c i {
          color: red; }
      .souSuoLan .cont .souSuoLan_r .span_w {
        font-size: 14px;
        color: red;
        margin-top: 10px; }

.daoHangLan {
  width: 100%;
  background: #F8F8F8;
  border-bottom: 3px solid black; }
  .daoHangLan .cont {
    height: 40px; }
    .daoHangLan .cont .twoLan .fenlei {
      display: block;
      width: 202px;
      height: 40px;
      background: black;
      color: #fff;
      line-height: 38px;
      font-size: 20px;
      text-align: center;
      float: left; }
    .daoHangLan .cont .twoLan span {
      line-height: 38px; }
      .daoHangLan .cont .twoLan span a {
        float: left;
        padding: 0 20px 0 20px;
        font-weight: bold;
        font-size: 20px; }
    .daoHangLan .cont .twoLan .twoLan-Lan {
      position: relative;
      width: 202px;
      height: 40px; }
      .daoHangLan .cont .twoLan .twoLan-Lan:hover ul {
        display: block; }
      .daoHangLan .cont .twoLan .twoLan-Lan ul {
        position: absolute;
        top: 40px;
        border: 1px solid #999;
        display: none; }
        .daoHangLan .cont .twoLan .twoLan-Lan ul li {
          background: #F8F8F8;
          padding: 10px 0 0 10px;
          font-size: 14px; }
          .daoHangLan .cont .twoLan .twoLan-Lan ul li a {
            line-height: 19px;
            width: 190px;
            height: 60px; }
        .daoHangLan .cont .twoLan .twoLan-Lan ul :hover {
          color: #fff; }
        .daoHangLan .cont .twoLan .twoLan-Lan ul :hover {
          background: #666666; }

.reMen {
  height: 800px;
  width: 1190px; }

.daoGou {
  width: 100%;
  height: 503px;
  background: #F4F4F4; }
  .daoGou .cont {
    background: #fff; }
    .daoGou .cont h4 {
      height: 25px;
      border-bottom: 2px solid black;
      background: #fff; }
    .daoGou .cont .div_ul {
      width: 1180px;
      height: 240px;
      margin-left: 50px; }
      .daoGou .cont .div_ul ul li {
        float: left; }
        .daoGou .cont .div_ul ul li a {
          width: 90px;
          height: 65px;
          text-align: center;
          border-right: 1px solid #E6E6E6;
          border-bottom: 1px solid #e6e6e6;
          background: #fff; }
    .daoGou .cont .daoGou_div {
      background: #fff;
      height: 204px; }
      .daoGou .cont .daoGou_div div {
        width: 526px;
        height: 40px;
        float: left;
        border-bottom: 1px dashed #E6E6E6;
        margin: 0px 20px 5px 40px; }
        .daoGou .cont .daoGou_div div a {
          float: left;
          line-height: 40px;
          padding: 0 15px 0 0px;
          font-size: 14px; }

.youQingLianJie {
  background: #F4F4F4;
  width: 100%; }
  .youQingLianJie .cont {
    height: 198px; }
    .youQingLianJie .cont span {
      display: block;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      height: 45px; }
      .youQingLianJie .cont span div {
        height: 45px;
        width: 275px;
        float: left; }
      .youQingLianJie .cont span .lianJie_1 {
        background: url("../img/xiaoXiao.fw.png") no-repeat 0 -345px; }
      .youQingLianJie .cont span .lianJie_2 {
        background: url("../img/xiaoXiao.fw.png") no-repeat 0 -290px; }
      .youQingLianJie .cont span .lianJie_3 {
        background: url("../img/xiaoXiao.fw.png") no-repeat 0 -227px; }
      .youQingLianJie .cont span .lianJie_4 {
        background: url("../img/xiaoXiao.fw.png") no-repeat 0 -172px; }
      .youQingLianJie .cont span .lianJie_a {
        float: left;
        padding-top: 12px; }
    .youQingLianJie .cont .lianJie_l {
      width: 740px;
      height: 134px; }
      .youQingLianJie .cont .lianJie_l ul {
        padding-right: 70px;
        padding-top: 30px; }
        .youQingLianJie .cont .lianJie_l ul li a {
          font-size: 12px;
          color: #666666;
          line-height: 20px; }
    .youQingLianJie .cont .lianJie_c {
      width: 199px;
      height: 100px;
      line-height: 20px;
      padding-top: 30px; }
    .youQingLianJie .cont .lianJie_r {
      width: 241px;
      height: 134px; }
      .youQingLianJie .cont .lianJie_r .lianJie_r_1 {
        width: 87px;
        height: 90px;
        background: url("../img/xiaoXiao.fw.png") no-repeat -800px -50px;
        margin-top: 15px;
        padding-top: 90px; }
      .youQingLianJie .cont .lianJie_r .lianJie_r_2 {
        width: 87px;
        height: 90px;
        background: url("../img/xiaoXiao.fw.png") no-repeat -800px -50px;
        margin-top: 15px;
        padding-top: 90px; }

footer {
  width: 100%;
  background: black; }
  footer .cont {
    height: 105px; }
    footer .cont .footer_l {
      width: 132px;
      height: 104px;
      background: url("../img/xiaoXiao.fw.png") no-repeat 0px -420px; }
    footer .cont .footer_r {
      width: 1050px;
      height: 104px; }
      footer .cont .footer_r .footer_r_1 {
        color: #fff; }
        footer .cont .footer_r .footer_r_1 li {
          float: left;
          padding-top: 8px; }
      footer .cont .footer_r .footer_r_2 {
        height: 33px;
        color: #fff; }
        footer .cont .footer_r .footer_r_2 li {
          float: left;
          padding-top: 4px;
          font-size: 12px;
          padding-top: 8px; }
