html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

i {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

.z12 {
  font-size: 12px; }

.z14 {
  font-size: 14px; }

.z16 {
  font-size: 16px; }

.z36 {
  font-size: 0.5625rem; }

.z40 {
  font-size: 0.625rem; }

.z50 {
  font-size: 0.78125rem; }

.z22 {
  font-size: 0.34375rem; }

.red {
  color: #a21f25; }

.sky {
  color: skyblue; }

.fl {
  float: left; }

.fr {
  float: right; }

.over {
  overflow: hidden; }

.red {
  color: red; }

.nones {
  font-size: none; }

.textw {
  font-weight: bold; }

.bc58 {
  color: #58bc58; }

.padd-t50 {
  padding-top: 50px; }

a:hover {
  color: red; }

a {
  color: black; }

.cont {
  width: 1000px;
  margin: 0 auto; }

header {
  width: 100%;
  background: #f6f6f6; }
  header .cont {
    height: 33px;
    font-size: 14px; }
    header .cont .box_l {
      width: 400px;
      height: 33px;
      float: left; }
      header .cont .box_l a {
        text-align: center;
        line-height: 32px; }
      header .cont .box_l .box_l_1 {
        float: left;
        width: 98px;
        height: 33px;
        background: #fff; }
      header .cont .box_l :hover {
        background: #fff; }
      header .cont .box_l .box_l_2 {
        float: left;
        width: 100px;
        height: 33px;
        position: relative; }
        header .cont .box_l .box_l_2 .big_box {
          position: absolute;
          width: 250px;
          height: 100px;
          background: #fff;
          display: none; }
        header .cont .box_l .box_l_2:hover .big_box {
          display: block; }
    header .cont .box_r {
      float: right; }
      header .cont .box_r .DL_box {
        float: left;
        padding: 0 14px;
        height: 33px; }
        header .cont .box_r .DL_box a {
          float: left;
          line-height: 33px;
          padding: 0 15px;
          color: red; }
      header .cont .box_r .flaaa {
        line-height: 31px; }
      header .cont .box_r .GWC_box {
        float: left;
        padding: 0 14px;
        height: 33px; }
        header .cont .box_r .GWC_box .a_aaa {
          float: left;
          padding: 0 10px;
          line-height: 33px; }
        header .cont .box_r .GWC_box .box_a1 {
          position: relative; }
          header .cont .box_r .GWC_box .box_a1 .box_aa1 {
            width: 92px;
            height: 40px;
            background: #fff;
            display: none;
            position: absolute;
            right: 0; }
          header .cont .box_r .GWC_box .box_a1:hover .box_aa1 {
            display: block;
            color: black; }
        header .cont .box_r .GWC_box :hover {
          background: #fff; }
        header .cont .box_r .GWC_box .box_a3 {
          position: relative; }
          header .cont .box_r .GWC_box .box_a3 .box_aa3 {
            width: 200px;
            height: 50px;
            background: #fff;
            display: none;
            position: absolute;
            right: 0; }
          header .cont .box_r .GWC_box .box_a3:hover .box_aa3 {
            display: block;
            color: black;
            line-height: 25px; }
        header .cont .box_r .GWC_box :hover {
          background: #fff; }
        header .cont .box_r .GWC_box .box_a4 {
          position: relative; }
          header .cont .box_r .GWC_box .box_a4 .box_aa4 {
            width: 100px;
            height: 60px;
            background: #fff;
            display: none;
            position: absolute;
            right: 0; }
          header .cont .box_r .GWC_box .box_a4:hover .box_aa4 {
            display: block;
            color: black; }
        header .cont .box_r .GWC_box :hover {
          background: #fff; }

.nav {
  width: 100%; }

.nav .cont {
  height: 70px; }
  .nav .cont .h1a {
    width: 182px;
    height: 42px;
    background: url("../img/xiaoXiao.fw.png") no-repeat -592px -958px;
    margin-top: 14px;
    border-right: 1px solid #e6e6e6; }
  .nav .cont .dengLu {
    font-size: 20px;
    color: #666666;
    margin-top: 20px;
    margin-left: 30px; }

.neiRong {
  width: 100%;
  height: 553px;
  position: relative;
  overflow: hidden; }
  .neiRong .aa_2 {
    width: 100%;
    height: 553px;
    background: url("../img/3268f3e855694bb6a5ec2030b13f4077.jpg") no-repeat top center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }

footer {
  width: 100%; }
  footer .cont {
    height: 100px;
    background: #fff; }
    footer .cont p {
      margin-top: 30px; }
      footer .cont p .piGu {
        float: left;
        padding-left: 30px; }
